# ==================== BASE ====================
VITE_API_BASE_URL=http://localhost:8081
VITE_SOCKET_URL=http://localhost:8081
VITE_DOMAIN=http://localhost:8082
VITE_OTP_TIMER=120

# ==================== AUTHENTICATION ====================
VITE_API_URL_GUEST_SESSION=http://localhost:8081/api/guest-session
VITE_API_URL_LOGIN=http://localhost:8081/api/login
VITE_API_URL_LOGOUT=http://localhost:8081/api/logout
VITE_API_URL_OTPRESEND=http://localhost:8081/api/otp-resend
VITE_API_URL_OTPVERIFY=http://localhost:8081/api/otp-verify
VITE_API_URL_SIGNUP=http://localhost:8081/api/setuser
VITE_API_URL_SYNCAUTH=http://localhost:8081/api/sync-auth
VITE_API_URL_VALIDEMAIL=http://localhost:8081/api/isemailvalid
VITE_API_URL_VALIDUSERNAME=http://localhost:8081/api/isvalidusername

# ==================== SUBSCRIPTION ====================
VITE_API_URL_SUBSCRIBE=http://localhost:8081/api/subscribe
VITE_API_URL_UNSUBSCRIBE=http://localhost:8081/api/unsubscribe

# ==================== PROJECT & WORKSPACE ====================
VITE_API_URL_CREATEPROJECT=http://localhost:8081/api/create-project
VITE_API_URL_JOINPROJECT=http://localhost:8081/api/join-project
VITE_API_URL_PROJECTS=http://localhost:8081/api/projects
VITE_API_UPDATE_PROJECT_STATUS=http://localhost:8081/api/projects
VITE_API_URL_RESET_INVITE=http://localhost:8081/api/reset-invitation-code
VITE_API_URL_VERIFY_INVITE_OTP=http://localhost:8081/api/verify-invitationcode-otp
VITE_API_URL_VERIFY_PROJECT=http://localhost:8081/api/verify-project
VITE_API_URL_DELETEPROJECT=http://localhost:8081/api/deleteproject

# ==================== API MANAGEMENT ====================
VITE_API_URL_ADD_API=http://localhost:8081/api/add-api
VITE_API_URL_API_HISTORY=http://localhost:8081/api/api-history
VITE_API_URL_API_VERSION_DATA=http://localhost:8081/api/api-version-data
VITE_API_URL_DELETE_VERSION=http://localhost:8081/api/versions/delete
VITE_API_URL_UPDATE_API=http://localhost:8081/api/update-api
VITE_API_URL_USER_APIS=http://localhost:8081/api/user-apis

# ==================== JOIN REQUESTS ====================
VITE_API_URL_ACCEPT_REQUEST=http://localhost:8081/api/requests/accept
VITE_API_URL_REQUESTS_RECEIVED=http://localhost:8081/api/requests/received
VITE_API_URL_REQUESTS_SENT=http://localhost:8081/api/requests/sent
VITE_API_URL_REVOKE_REQUEST=http://localhost:8081/api/requests/revoke

# ==================== AI FEATURES ====================
VITE_API_URL_ASK_AI=http://localhost:8081/api/ask-ai
VITE_API_URL_REVERSE_AI=http://localhost:8081/api/reverse-ai