CLIENT_URL=http://localhost:8082
HEARTBEAT_INTERVAL=40000
LOG_POLLING_INTERVAL=10000
PORT=3000
TTL=604800
SENDGRID_API_KEY=SG.xxxxx
OTP_VALIDATION_TIME=120
FROM_EMAIL=krishnaboxi1983@gmail.com

# -------------------- GENERAL --------------------
NODE_ENV=development


# -------------------- DATABASES --------------------
MONGO_URI=mongodb://host.docker.internal:27017/mockapi
REDIS_URL=redis://redis-external:6379

# -------------------- HOST CONFIGURATION --------------------
HOST=localhost:8080
SUPPORTED_PROTOCOLS=http

# -------------------- JWT & COOKIES --------------------
JWT_SECRET=local_dev_secret_change_me
JWT_EXPIRY=7d
COOKIE_MAX_AGE=604800000
COOKIE_SAMESITE=lax

# -------------------- OTP & INVITATION --------------------
OTP_LENGTH=6
INVITATION_CHARSET=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
INVITATION_CODE_LENGTH=8
INVITATION_MAX_ATTEMPTS=10
INVITATION_REDIS_TTL=604800
INVITATION_RESERVE_TTL=30
INVITATION_STORE_TTL=604800
PROJECT_CACHE_TTL=1800
RESET_INVITE_OTP_TTL=120

# -------------------- CACHE TTL --------------------
EMAIL_REDIS_TTL=60
USERNAME_REDIS_TTL=60

# -------------------- GEMINI AI --------------------
GEMINI_API_KEY=AIzaSyAF5K1AR3CMk
TTL_REVERSE_AI_RESPONSE=120

# -------------------- BULLMQ & REDIS TIMEOUTS --------------------
AI_JOB_TIMEOUT=300000
REDIS_COMMAND_TIMEOUT=30000

# -------------------- BCRYPT --------------------
BCRYPT_SALT_ROUNDS=10

# -------------------- EMAIL QUEUE RETRY --------------------
EMAIL_RETRY_ATTEMPTS=3
EMAIL_RETRY_BACKOFF_DELAY=5000
