# Mock‑Server Environment Variables

# BullMQ – points to the external Redis from the server compose
REDIS_URL=redis://redis-external:6379

# Internal Redis for routes, locks, etc.
INTERNAL_REDIS_URL=redis://redis-internal:6379

# Docker network for project containers
DOCKER_NETWORK=orch-net

# Project container image name
PROJECT_IMAGE=project-container:latest

# MongoDB URI (if needed by worker‑server – only for sync)
MONGO_URI=mongodb://host.docker.internal:27017/mockapi

# OpenResty – Redis host and port (internal)
INTERNAL_REDIS_HOST=redis-internal
INTERNAL_REDIS_PORT=6379


DOCKER_SOCKET=/var/run/docker.sock
CRON_SCHEDULE=54 0 * * *